<%= link_to("New Grove", new_admin_grove_path) %>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% collection.each do |grove| %>
    <tr>
      <td><%= grove.name %></td>
      <td>
        <%= link_to "Edit", edit_admin_grove_path(grove) %>
      </td>
    </tr>
  <% end %>
</table>
