<%= link_to("New Grove", new_admin_grove_path) %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% collection.each do |grove| %>
    <tr>
      <td><%= grove.name %></td>
    </tr>
  <% end %>
</table>
