<%= link_to("New Grove", new_admin_grove_path, class: "btn btn-primary") %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% collection.each do |resource| %>
    <tr>
      <td><%= link_to resource.name, admin_grove_path(resource.id) %></td>
      <td>
        <%= link_to "Edit", edit_admin_grove_path(resource) %>
      </td>
    </tr>
  <% end %>
</table>
