<%=link_to("All Groves", admin_groves_path) if current_user.admin? %>

<table>
    <tr>
      <td><%= resource.name %></td>
      <td id='grove-<%= resource.id %>'><%= button_to 'delete', admin_grove_path(resource.id),  method: 'delete' %></td>
    </tr>
</table>
