---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=xxxxxxxxxxxxxxyyyyyyyyyyyy&client_id=abc123.apps.googleusercontent.com&client_secret=abc123
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "xxxxxxxxxxxxxxyyyyyyyyyyyy",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "xxxxxxxxxxxxxxyyyyyyyyyyyy"
        }
  recorded_at: Fri, 05 Aug 2016 16:58:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/student@example.org/events?maxResults=25&orderBy=startTime&singleEvents=true&timeMax=2016-08-06T05:59:59Z&timeMin=2016-08-05T06:00:00Z
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxxxxxxxxxxxxyyyyyyyyyyyy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32octqs9rulcs0g\"",
         "summary": "student@example.org",
         "updated": "2016-08-05T16:56:05.726Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 10
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"2940832270906000\"",
           "id": "3hvi7s2efmubsdl4qr3t69v12s",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=abc123",
           "created": "2016-08-04T21:48:25.000Z",
           "updated": "2016-08-05T16:55:35.453Z",
           "summary": "morning stuff",
           "location": "Breakfast Nook",
           "creator": {
            "email": "teacher@example.org"
           },
           "organizer": {
            "email": "teacher@example.org"
           },
           "start": {
            "dateTime": "2016-08-05T09:30:00-06:00"
           },
           "end": {
            "dateTime": "2016-08-05T10:00:00-06:00"
           },
           "iCalUID": "iCal@google.com",
           "sequence": 0,
           "attendees": [
            {
             "email": "student@example.org",
             "displayName": "JJ LeTest",
             "self": true,
             "responseStatus": "needsAction"
            },
            {
             "email": "teacher@example.org",
             "organizer": true,
             "responseStatus": "accepted"
            }
           ],
           "hangoutLink": "https://plus.google.com/hangout",
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"2940832331030000\"",
           "id": "xxxxxxxxxxxxxxyyyyyyyyyyyy",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=abc123",
           "created": "2016-08-04T21:50:09.000Z",
           "updated": "2016-08-05T16:56:05.515Z",
           "summary": "lunch",
           "location": "Cafeteria",
           "creator": {
            "email": "teacher@example.org"
           },
           "organizer": {
            "email": "teacher@example.org"
           },
           "start": {
            "dateTime": "2016-08-05T12:30:00-06:00"
           },
           "end": {
            "dateTime": "2016-08-05T13:30:00-06:00"
           },
           "iCalUID": "h4mo5njq0f1vo1fgd5j13d51a8@google.com",
           "sequence": 0,
           "attendees": [
            {
             "email": "teacher@example.org",
             "organizer": true,
             "responseStatus": "accepted"
            },
            {
             "email": "student@example.org",
             "displayName": "JJ LeTest",
             "self": true,
             "responseStatus": "needsAction"
            }
           ],
           "hangoutLink": "https://plus.google.com/hangouts/_/example.org/teacher",
           "reminders": {
            "useDefault": true
           }
          }
         ]
        }
  recorded_at: Fri, 05 Aug 2016 16:58:25 GMT
recorded_with: VCR 3.0.3
