---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/jj.letest@rootselementary.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/"
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "required",
            "message": "Login Required",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Login Required"
         }
        }
  recorded_at: Wed, 20 Jul 2016 16:42:20 GMT
recorded_with: VCR 3.0.1
