<div class="container">
  <h2>Grove Playlist Manager</h2>
  <br>
  <table>
    <tr>
      <th>Student Name</th>
      <th></th>
    </tr>
    <%= render partial: "student", collection: collection %>
  </table>
</div>
