<h2>Welcome</h2>

<div class="grove-picker">
  <h3>Select Grove</h3>
  <form class="form-inline">
    <label for="groves">Grove</label>
    <select class="form-control">
      <option selected="selected"><%= current_user.grove.name %></option>
      <% @groves.each do |grove| %>
        <option><%= grove.name %></option>
      <% end %>
    </select>
    <button type="submit" class="btn hollow-btn">Change Grove</button>
  </form>
</div>
