<%= simple_form_for([:admin, resource], html: { class: 'inline' }) do |form| %>
  <% if form.error_notification %>
    <div class="alert alert-error fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= form.error_notification %>
    </div>
  <% end %>
  <% form_attributes.each do |attr| %>
    <%= form.input attr %>
  <% end %>
  <%= form.submit "Save" %>
<% end %>
