<<<<<<< 32c52d658dbcb137bef24406499f3287ee77065a
<h2>Create A New <%= resource_class %></h2>
<%= render 'form' %>
=======
<h1>Create A New <%= resource_class %></h1>
<div class="container">
  <%= render 'form' %>
</div>

