<%=link_to("All #{resource_class}s", send("admin_#{resource_as_sym}s_path")) if current_user.admin? %>

<table>
    <tr>
      <td><%= resource.name %></td>
      <td id='grove-<%= resource.id %>'><%= button_to 'delete', send("admin_#{resource_as_sym}_path", resource),  method: 'delete' %></td>
    </tr>
</table>
