<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle='collapse' data-target='#navbar-collapse-1'>
        <span class="sr-only"> Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag "roots-logo.png", style:"width:190px;height:auto", class:"navbar-brand", alt:"roots logo"), root_path %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-top:9px">
        <li><%=link_to "Teacher Dashboard", admin_dashboard_path %></li>
        
        <li><%= link_to "Log out", destroy_user_session_path, method: 'delete' %></li>
      </ul>
    </div>
  </div>
</nav>