<div class="col-xs-2 sidebar">
  <div class="sidebar-content">
    <section> 
      <h3>Teacher Dashboard</h3>
      <hr>
      <ul class="nav navbar-nav">
        <%=link_to("Manage Groves", admin_groves_path, class: "btn btn-success btn-lg btn-block") if policy(:grove).index? %>
        <br>
        <hr>
        <%=link_to("Manage Teachers", admin_teachers_path, class: "btn btn-success btn-lg btn-block") if policy(:teacher).index? %>
      </ul>
    </section>
  </div>
</div> 