<% if student %>
  <div class="col-xs-3 student">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3><%= student.name %></h3>
        <p>...</p>
        <% if student.at_school %>
          <%= link_to "Mark as Absent", admin_update_grove_monitor_all_path(id: student.id, student: { at_school: false }), method: :patch, class: "btn btn-default" %>
          <% else %>
          <%= link_to "Mark as Present", admin_update_grove_monitor_all_path(id: student.id, student: { at_school: true }), method: :patch, class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
