<div class="col-md-3 col-sm-6 single student">
  <h3><%= student.name %></h3>
  <%= image_tag student.avatar, class: "student-image" %>
  <% if student.at_school %>
    <%= link_to "Mark as Absent", admin_update_grove_monitor_all_path(id: student.id, student: { at_school: false }), method: :patch, class: "btn btn-default" %>
    <% else %>
    <%= link_to "Mark as Present", admin_update_grove_monitor_all_path(id: student.id, student: { at_school: true }), method: :patch, class: "btn btn-default" %>
  <% end %>
</div>
