<ul class="nav nav-pills pull-right">
  <li role="presentation" class="active"><%= link_to "Absent", admin_grove_monitor_path(filter: :absent) %></li>
  <li role="presentation" class="active"><%= link_to "Lost", admin_grove_monitor_path(filter: :lost) %></li>
</ul>
<div class="grove-monitor text-center">
  <h2>Grove Monitor</h2>
</div>

<div class="row collection">
  <% @locations.each do |location| %>
    <div class="col-md-4 col-sm-6 single">
      <h3 class="text-center"><%= location.name.titleize %></h3>
      <%= link_to (image_tag location.image_url, class: "location-image"), admin_grove_monitor_path({filter: :location, location_id: location}) %>
    </div>
  <% end %>
</div>
