<ul class="nav nav-pills pull-right">
  <li role="presentation" class="active"><%= link_to "Back to Locations", admin_grove_monitor_all_path %></li>
</ul>
<div class="grove-monitor text-center">
  <h2><%= @location.name.titleize  if @location %></h2>
  <h2><%= "#{@category.titleize} Students"  if @category %></h2>
</div>

<div class="row collection">
  <%= render partial: "student", collection: @students %>
</div>

