$roots-green: #8BA65F;
 
* {
  font-family: 'Source Sans Pro', sans-serif;

  li {
    list-style: none;
  } 

  ul {
    list-style: none;
  }
}

.btn-success {
  background-color: $roots-green;
}

p.navbar-text {
  margin-top: 24px;
}


.hollow-btn {
    background-color: #fff;
    border: 1px solid $roots-green;
    color: #000;

    &:hover {
        background-color: $roots-green;
        color: #fff;
    }
}  