$roots-green: #8BA65F;

* {
  font-family: 'Source Sans Pro', sans-serif;

  li {
    list-style: none;
  }

  ul {
    list-style: none;
  }
}

.btn-success {
  background-color: $roots-green;
}

p.navbar-text {
  margin-top: 24px;
}

.hollow-btn {
    background-color: #fff;
    border: 1px solid $roots-green;
    color: #000;

    &:hover {
        background-color: $roots-green;
        color: #fff;
    }
}

.sign-form {
  border: 5px solid $roots-green;
  padding-bottom: 5%;
  padding-top: 3%;
  margin-top: 15%;

  .actions {
    margin-bottom: 2%;
  }
}
@media (min-width:961px) {
  .sign-form {
    margin-right: 35%;
  }

}

.sortable-placeholder {
  border: 2px dashed $roots-green;
}
