/* secondary content */

.secondary-content {
  height: 100%;
  border-left: 2px solid #000;
  width: 24%;
  text-align: center;
}

.secondary-content li,
.secondary-content p {
  font-size: 140%;
  line-height: 160%;
  margin-top: 10%;
}

.secondary-content ul {
  margin: 5px 0;
  padding: 5px 0;
}


@media screen and (max-width: 975px) {
  .main-content,
  .secondary-content {
    display: block;
    width: 100%;
  }

  .secondary-content {
    border-top: 2px solid #000;
    border-left: none;
    margin-top: 25px;
    padding-top: 50px;
  }

  .secondary-content ul {
    margin: 0;
  }

  .secondary-content li {
    margin: 2%;
  }

  .button-column {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}
