.locations-show {
  @media print {
    .secondary-content {
      visibility: hidden;
    }

    .main-content {
      margin-left: -15%;

      .btn {
        visibility: hidden;
      }

      h2 {
        visibility: hidden;
      }
      .qr {
        margin: 0;
        padding: 3em 0 0 4em;
      }

    }

    nav {
      visibility: hidden;
    }
  }
}
