.qr {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.qr table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

.qr td {
  border-left: solid 10px #000;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 10px;
}

.qr td.black { border-color: #000; }
.qr td.white { border-color: #fff; }
