<div class="container no-event col-md-4 col-md-offset-4">
  <h1 class="text-center"%>No Event Scheduled</h1>
  <h1 class="text-center text-danger">
    <%= fa_icon "times-circle-o 5x" %>
  </h1>
</div>
