<% if @success %>
  <h1 class="text-center"%>Success!</h1>
  <h1 class="text-center text-success">
    <%= fa_icon "check-circle-o 5x" %>
  </h1>
<% else %>
  <h1 class="text-center"%>Whoops!</h1>
  <h1 class="text-center text-danger">
    <%= fa_icon "times-circle-o 5x" %>
  </h1>
<% end %>
