<h2 class="text-center"><%= current_user.name %>'s Next Step</h2>
<% if current_user.current_event %>
  <% @compass.events.each do |event| %>
    <%= render 'event', event: event %>
  <% end %>
<% else %>
  <%= render 'no_events' %>
<% end %>
